.searchbar {
  width: 100%;

  display: flex;

  align-items: center;

  gap: 1rem;

  filter: drop-shadow(0 0 10px rgb(255, 0, 0));
}

.searchbar__input {
  flex: 4;

  height: 60px;

  padding-inline: 1.5rem;

  border-radius: var(--radius-md);

  background-color: var(--color-surface);

  border: 1px solid var(--color-border);

  color: var(--color-text);

  font-size: 1.1rem;

  transition: var(--transition-fast);
}

.searchbar__input:focus {
  border-color: var(--color-primary);

  box-shadow: var(--shadow-primary);
}

.searchbar__button {
  height: 65px;

  padding-inline: 1.5rem;

  border-radius: var(--radius-md);

  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-secondary)
  );

  color: white;

  font-weight: bold;

  transition: var(--transition-fast);

  flex: 1;
}

.searchbar__button:hover {
  transform: translateY(-2px);

  opacity: 0.9;
}
