.favorites-page {
  min-height: 100vh;

  background:
    linear-gradient(rgba(5, 7, 15, 0.85), rgba(5, 7, 15, 0.95)),
    url("../images/backgraunds-favorites/backgraund-fire.jpeg");

  background-size: cover;

  background-position: center;

  background-attachment: fixed;
}
