:root {
  /* ==========================
      COLORS
  ========================== */

  --color-bg: #050816;

  --color-surface: #0f172a;
  --color-surface-light: #1e293b;

  --color-primary: #ef4444;
  --color-secondary: #e92525;
  --color-accent: #f97316;

  --color-text: #f8fafc;
  --color-text-muted: #94a3b8;

  --color-border: rgba(255, 255, 255, 0.08);

  /* ==========================
      TYPE COLORS
  ========================== */

  --type-normal: #a8a29e;
  --type-fire: #f97316;
  --type-water: #38bdf8;
  --type-electric: #facc15;
  --type-grass: #22c55e;
  --type-ice: #67e8f9;
  --type-fighting: #dc2626;
  --type-poison: #a855f7;
  --type-ground: #ca8a04;
  --type-flying: #60a5fa;
  --type-psychic: #ec4899;
  --type-bug: #84cc16;
  --type-rock: #a16207;
  --type-ghost: #8b5cf6;
  --type-dragon: #7c3aed;
  --type-dark: #334155;
  --type-steel: #94a3b8;
  --type-fairy: #f9a8d4;

  /* ==========================
      GLOWS
  ========================== */

  --glow-primary: rgba(239, 68, 68, 0.35);

  --glow-blue: rgba(56, 189, 248, 0.35);

  --glow-green: rgba(34, 197, 94, 0.35);

  --glow-purple: rgba(124, 58, 237, 0.35);

  --glow-orange: rgba(249, 115, 22, 0.35);

  /* ==========================
      SHADOWS
  ========================== */

  --shadow-sm: 0 5px 12px rgba(0, 0, 0, 0.2);

  --shadow-md: 0 10px 25px rgba(0, 0, 0, 0.35);

  --shadow-lg: 0 20px 45px rgba(0, 0, 0, 0.45);

  --shadow-primary: 0 0 20px rgba(124, 58, 237, 0.35);

  /* ==========================
      BORDER RADIUS
  ========================== */

  --radius-sm: 10px;

  --radius-md: 16px;

  --radius-lg: 24px;

  --radius-xl: 32px;

  /* ==========================
      SPACING
  ========================== */

  --spacing-xs: 0.25rem;

  --spacing-sm: 0.5rem;

  --spacing-md: 1rem;

  --spacing-lg: 2rem;

  --spacing-xl: 4rem;

  --spacing-xxl: 6rem;

  /* ==========================
      FONT SIZE
  ========================== */

  --text-xs: 0.75rem;

  --text-sm: 0.875rem;

  --text-md: 1rem;

  --text-lg: 1.25rem;

  --text-xl: 1.5rem;

  --text-2xl: 2rem;

  --text-3xl: 3rem;

  /* ==========================
      FONT WEIGHT
  ========================== */

  --fw-normal: 400;

  --fw-medium: 500;

  --fw-semibold: 600;

  --fw-bold: 700;

  --fw-black: 800;

  /* ==========================
      TRANSITIONS
  ========================== */

  --transition-fast: 0.2s ease;

  --transition-medium: 0.3s ease;

  --transition-slow: 0.45s ease;

  /* ==========================
      LAYOUT
  ========================== */

  --max-width: 1800px;

  --navbar-height: 80px;

  /* ==========================
      Z INDEX
  ========================== */

  --z-navbar: 100;

  --z-dropdown: 300;

  --z-modal: 500;

  --z-overlay: 600;

  --z-tooltip: 1000;
}
